<a href="https://colab.research.google.com/github/John-737/EDA-on-IMDB-Dataset/blob/main/EDA_on_IMDB_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [ ]:
#Import package
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
working_driv_path ='/content/drive/MyDrive/Projects/Copy of  imdb_data.csv'
imdb_df = pd.read_csv(working_driv_path)

In [ ]:
imdb_df.head(2)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435

In [ ]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [ ]:
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [ ]:
cloumns_to_keep = ['budget','genres','imdb_id','original_language','original_title','popularity','cast','crew','revenue']
imdb_df = imdb_df[cloumns_to_keep]
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             3000 non-null   int64
 1   genres             2993 non-null   object
 2   imdb_id            3000 non-null   object
 3   original_language  3000 non-null   object
 4   original_title     3000 non-null   object
 5   popularity         3000 non-null   float64
 6   cast               2987 non-null   object
 7   crew               2984 non-null   object
 8   revenue            3000 non-null   int64
dtypes: float64(1), int64(2), object(6)
memory usage: 211.1+ KB

In [ ]:
#drop th null observations
imdb_df.loc[~imdb_df['genres'].isna(),'genres']
type(imdb_df.loc[0,'cast'])

list

In [ ]:
def convert_to_list(str):
  return eval(str)

In [ ]:
#using apply method to convert the srting to list object
#imdb_df.loc[~imdb_df['genres'].isna(),'genres'] = imdb_df.loc[~imdb_df['genres'].isna(),'genres'].apply(convert_to_list)
#imdb_df.loc[~imdb_df['crew'].isna(),'crew'] = imdb_df.loc[~imdb_df['crew'].isna(),'crew'].apply(convert_to_list)
#imdb_df.loc[~imdb_df['genres'].isna(),'genres'] = imdb_df.loc[~imdb_df['genres'].isna(),'genres'].apply(convert_to_list)
#imdb_df.loc[~imdb_df['cast'].isna(),'cast'] = imdb_df.loc[~imdb_df['cast'].isna(),'cast'].apply(convert_to_list)

In [ ]:
type(imdb_df.loc[0,'genres'])

list

In [ ]:
imdb_df_new = imdb_df.copy()
imdb_df_new.head(2)

,budget,genres,imdb_id,original_language,original_title,popularity,cast,crew,revenue
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,6.575393,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,8.248895,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435

1. Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.

In [ ]:
imdb_df_new.loc[~imdb_df_new['crew'].isna(),'crew']
type(imdb_df_new.loc[0,'genres'])

list

In [ ]:
imdb_df_new['genres'].isnull().sum()

7

In [ ]:
imdb_df_new.describe()

             budget   popularity       revenue
count  3.000000e+03  3000.000000  3.000000e+03
mean   2.253133e+07     8.463274  6.672585e+07
std    3.702609e+07    12.104000  1.375323e+08
min    0.000000e+00     0.000001  1.000000e+00
25%    0.000000e+00     4.018053  2.379808e+06
50%    8.000000e+06     7.374861  1.680707e+07
75%    2.900000e+07    10.890983  6.891920e+07
max    3.800000e+08   294.337037  1.519558e+09

In [ ]:
imdb_df_new[imdb_df_new['budget'] == 0].head(2)

,budget,genres,imdb_id,original_language,original_title,popularity,cast,crew,revenue
4,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,1.148070,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
7,0,"[{'id': 99, 'name': 'Documentary'}]",tt0391024,en,Control Room,1.949044,"[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe47a69251416c750a0daf', 'de...",2586511

In [ ]:
imdb_df_new['budget'].median()

8000000.0

In [ ]:
imdb_df_new.loc[imdb_df_new['budget'] < 1000,'budget'] = imdb_df_new['budget'].median()
imdb_df_new.loc[imdb_df_new['revenue'] < 1000,'revenue'] = imdb_df_new['revenue'].median()

In [ ]:
# Creating profit and ROI column
imdb_df_new['profit'] = imdb_df_new['revenue'] - imdb_df_new['budget']
imdb_df_new['ROI'] = 100 * (imdb_df_new['profit']/imdb_df_new['budget'])

In [ ]:
imdb_df_new.describe()

             budget   popularity       revenue        profit           ROI
count  3.000000e+03  3000.000000  3.000000e+03  3.000000e+03  3.000000e+03
mean   2.474467e+07     8.463274  6.704518e+07  4.230052e+07  9.169718e+02
std    3.583254e+07    12.104000  1.373964e+08  1.128964e+08  2.506320e+04
min    2.500000e+03     0.000001  1.404000e+03 -1.074474e+08 -9.998164e+01
25%    8.000000e+06     4.018053  2.947600e+06 -5.844872e+06 -5.859809e+01
50%    8.000000e+06     7.374861  1.680873e+07  5.000000e+06  5.546695e+01
75%    2.900000e+07    10.890983  6.891920e+07  4.012500e+07  2.528697e+02
max    3.800000e+08   294.337037  1.519558e+09  1.316249e+09  1.288939e+06

In [ ]:
imdb_df_new.head()

,budget,genres,imdb_id,original_language,original_title,popularity,cast,crew,revenue,profit,ROI
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,6.575393,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.038207
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,8.248895,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.873588
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,64.299990,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000,296.727273
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,3.174936,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000,1233.333333
4,8000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,1.148070,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,-4076030,-50.950375

In [ ]:
imdb_df_new['profit'].max()

1316249360

In [ ]:
imdb_df_new['profit'].idxmax()

1761

In [ ]:
#1.Which movie made the highest profit?
imdb_df_new.loc[imdb_df_new['profit'].idxmax(),'original_title']

'Furious 7'

In [ ]:
max_profit_movie_df = imdb_df_new.iloc[imdb_df_new['profit'].idxmax()]
max_profit_movie_df.head()

budget                                    190000000
genres               [{'id': 28, 'name': 'Action'}]
imdb_id                                   tt2820852
original_language                                en
original_title                            Furious 7
Name: 1761, dtype: object

In [ ]:
max_profit_movie_df.loc['cast'][0]['name']

'Vin Diesel'

In [ ]:
crew_list = max_profit_movie_df.loc['crew']
type(crew_list)

list

In [ ]:
producer_list = []
director_list = []
for elem in crew_list:
  if elem['job'] == 'Producer':
    producer_list.append(elem['name'])
  if elem['job'] == 'Director':
    director_list.append(elem['name'])

In [ ]:
print(f'Producer: {producer_list}')
print(f'Director: {director_list}')

Producer: ['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell']
Director: ['James Wan']

In [ ]:
cast_list = max_profit_movie_df['cast']
cast_list[0:3]

[{'cast_id': 17,
  'character': 'Dominic Toretto',
  'credit_id': '5431dfd10e0a265915002c34',
  'gender': 2,
  'id': 12835,
  'name': 'Vin Diesel',
  'order': 0,
  'profile_path': '/7rwSXluNWZAluYMOEWBxkPmckES.jpg'},
 {'cast_id': 19,
  'character': "Brian O'Conner",
  'credit_id': '5431dfe4c3a3681143002b98',
  'gender': 2,
  'id': 8167,
  'name': 'Paul Walker',
  'order': 1,
  'profile_path': '/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg'},
 {'cast_id': 18,
  'character': 'Hobbs',
  'credit_id': '5431dfdbc3a36831a6004376',
  'gender': 2,
  'id': 18918,
  'name': 'Dwayne Johnson',
  'order': 2,
  'profile_path': '/kuqFzlYMc2IrsOyPznMd1FroeGq.jpg'}]

Actors from highest grossing movie

In [ ]:
actor_list = []
for elem in cast_list:
  actor_list.append(elem['name'])
print(f'Actors of the movie are: {actor_list}')

Actors of the movie are: ['Vin Diesel', 'Paul Walker', 'Dwayne Johnson', 'Michelle Rodriguez', 'Tyrese Gibson', 'Ludacris', 'Jordana Brewster', 'Djimon Hounsou', 'Tony Jaa', 'Ronda Rousey', 'Nathalie Emmanuel', 'Kurt Russell', 'Jason Statham', 'Sung Kang', 'Gal Gadot', 'Lucas Black', 'Elsa Pataky', 'Noel Gugliemi', 'John Brotherton', 'Luke Evans', 'Ali Fazal', 'Miller Kimsey', 'Charlie Kimsey', 'Eden Estrella', 'Gentry White', 'Iggy Azalea', 'Jon Lee Brody', 'Levy Tran', 'Anna Colwell', 'Viktor Hernandez', 'Steve Coulter', 'Robert Pralgo', 'Antwan Mills', 'J.J. Phillips', 'Jorge Ferragut', 'Sara Sohn', 'Benjamin Blankenship', 'D.J. Hapa', 'T-Pain', 'Brian Mahoney', 'Brittney Alger', 'Romeo Santos', 'Jocelin Donahue', 'Stephanie Langston', 'Jorge-Luis Pallo', 'Tego Calder√≥n', 'Nathalie Kelley', 'Shad Moss', 'Don Omar', 'Klement Tinaj', 'Caleb Walker', 'Cody Walker']

In [ ]:
imdb_df_new.groupby('original_language')['ROI'].mean().reset_index().sort_values(by = 'ROI',ascending=False).head(3)

   original_language           ROI
18                ko  11309.685605
6                 el   5198.013245
28                sr   3261.413600

In [ ]:
print("Language with highest ROI is ")
imdb_df_new.groupby('original_language')['ROI'].mean().reset_index().sort_values(by = 'ROI',ascending=False).iloc[0,0]

Language with highest ROI is

'ko'

Find out the unique geners of movies

In [ ]:
no_na_genres = imdb_df_new.loc[~imdb_df_new['genres'].isna()]
no_na_genres.head(2)

,budget,genres,imdb_id,original_language,original_title,popularity,cast,crew,revenue,profit,ROI
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,6.575393,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.038207
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,8.248895,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.873588

In [ ]:
no_na_genres.loc[0,'genres']

[{'id': 35, 'name': 'Comedy'}]

In [ ]:
no_na_genres.loc[0,'genres'][0]

{'id': 35, 'name': 'Comedy'}

In [ ]:
no_na_genres.loc[3,'genres']

[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]

In [ ]:
gen_list = []
for index,row in no_na_genres.iterrows():
  genres = no_na_genres.loc[index,'genres']
  for k in genres:
    gen_list.append(k['name'])

In [ ]:
pd.DataFrame(set(gen_list),columns = ['Orginal_Genres'] )

     Orginal_Genres
0          TV Movie
1            Comedy
2           Romance
3           History
4             Music
5            Action
6         Animation
7   Science Fiction
8             Crime
9               War
10          Foreign
11           Family
12           Horror
13            Drama
14         Thriller
15          Mystery
16          Western
17      Documentary
18          Fantasy
19        Adventure

Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?

In [ ]:
def create_producer(index):
  movie_index = no_na_genres.iloc[index]
  crew_list = movie_index.loc['crew']
  producer_list = []
  for elem in crew_list:
    if elem['job'] == 'Producer':
        producer_list.append(elem['name'])
  return producer_list

In [ ]:
def create_director(index):
  movie_index = no_na_genres.iloc[index]
  crew_list = movie_index.loc['crew']
  for elem in crew_list:
    if elem['job'] == 'Director':
      return elem['name']

In [ ]:
create_producer(2000)

['Joel Silver', 'Jessica Alan', 'David Gambino']

In [ ]:
Table = pd.DataFrame(columns = ['Movie_title','Producer','Director','ROI'])
Table

Empty DataFrame
Columns: [Movie_title, Producer, Director, ROI]
Index: []

In [ ]:
for index,row in no_na_genres.iterrows():
  try:
    Table = Table.append({'Movie_title':no_na_genres.loc[index,'original_title'],'Producer':create_producer(index),'Director':create_director(index),'ROI':no_na_genres.loc[index,'ROI']},ignore_index = True)
  except:
    continue

In [ ]:
Table.head(2)

,Movie_title,Producer,Director,ROI
0,Hot Tub Time Machine 2,[Andrew Panay],Steve Pink,-12.038207
1,The Princess Diaries 2: Royal Engagement,"[Whitney Houston, Mario Iscovich, Debra Martin...",Garry Marshall,137.873588

Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.

In [ ]:
no_na_cast = imdb_df_new.loc[~imdb_df_new['cast'].isna()]

In [ ]:
no_na_cast.loc[0,'cast'][0]['name']

'Rob Corddry'

In [ ]:
no_na_cast.head(2)

In [ ]:
actor_list = []
for index,row in no_na_cast.iterrows():
  for item in no_na_cast.loc[index,'cast']:
    if type(item) == dict:
      actor = item['name']
      actor_list.append(actor)

In [ ]:
actor_list

In [ ]:
Actor_Table = pd.DataFrame(actor_list,columns=['Name of Actors'])

In [ ]:
Actor_Table.head()

   Name of Actors
0     Rob Corddry
1  Craig Robinson
2      Clark Duke
3      Adam Scott
4     Chevy Chase

In [ ]:
Actor_Table.value_counts().reset_index().head()

      Name of Actors   0
0  Samuel L. Jackson  30
1     Robert De Niro  30
2     Morgan Freeman  27
3        Liam Neeson  25
4     Susan Sarandon  25

Actors who has done most movies are

In [ ]:
print('Samue L. Jackson and Robert De Niro both have done 30 Movies')

Samue L. Jackson and Robert De Niro both have done 30 Movies

In [ ]:
profit1 = []
profit2 = []
Movie1 = []
Movie2 = []
for index,row in no_na_cast.iterrows():
  for item in no_na_cast.loc[index,'cast']:
    if type(item) == dict:
      actor = item['name']
      if 'Samuel L. Jackson' in actor:
        profit1.append(no_na_cast.loc[index,'profit'])
        Movie1.append(no_na_cast.loc[index,'original_title'])

      if 'Robert De Niro' in actor:
        profit2.append(no_na_cast.loc[index,'profit'])
        Movie2.append(no_na_cast.loc[index,'original_title'])

In [ ]:
no_na_cast.head(2)

,budget,genres,imdb_id,original_language,original_title,popularity,cast,crew,revenue,profit,ROI
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,6.575393,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.038207
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,8.248895,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.873588

In [ ]:
len(Movie1)

30

In [ ]:
#Creating a loop for geting Samuel L Jackson acted genres
genres_s = []
a = []
for i in range(len(Movie1)):
  for i in no_na_cast.loc[i,'genres']:
    a.append(['name'])
  
  genres_s.append(a)
  a = []

genres_r = []
b = []
for i in range(len(Movie2)):
  for i in no_na_cast.loc[i,'genres']:
    b.append(['name'])
  
  genres_s.append(a)
  b = []

In [ ]:
gen_s = np.array(genres_s)
gen_r = np.array(genres_r)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  """Entry point for launching an IPython kernel.

In [ ]:
#creating sub data frame for Samuel 
Mov_1 = pd.DataFrame(Movie1,columns = ['Movies'])
prof_1 = pd.DataFrame(profit1,columns = ['Profit'])
genr_1 = pd.DataFrame(gen_s.flatten(),columns = ['genres'])

In [ ]:
Movies_by_Samuel = pd.concat([Mov_1,genr_1,prof_1],axis = 1)

In [ ]:
Movies_by_Samuel.sort_values(by='Profit',ascending=False).head()

,Movies,genres,Profit
5,The Avengers,"[[name], [name], [name]]",1.299558e+09
24,Avengers: Age of Ultron,"[[name], [name]]",1.125404e+09
11,Jurassic Park,[[name]],8.571000e+08
3,Star Wars: Episode III - Revenge of the Sith,"[[name], [name]]",7.370000e+08
15,Captain America: The Winter Soldier,"[[name], [name], [name]]",5.447666e+08

In [ ]:
#creating sub data frame for Robert
Mov_2 = pd.DataFrame(Movie2,columns = ['Movies'])
prof_2 = pd.DataFrame(profit2,columns = ['Profit'])
genr_2 = pd.DataFrame(gen_r.flatten(),columns = ['genres'])

In [ ]:
Movies_by_Robert_De_Niro = pd.concat([Mov_2,genr_2,prof_2],axis = 1)

In [ ]:
Movies_by_Robert_De_Niro.sort_values(by='Profit',ascending=False).head()

              Movies  genres     Profit
8   Meet the Parents     NaN  275444045
16   American Hustle     NaN  211171807
10          Sleepers     NaN  121615285
26      Analyze This     NaN   96885658
29         Backdraft     NaN   77368585